<template>
  <div class="app-container">
      <input type="text" v-model="cityWeather.name">
      <button> Search </button>
      <div class="weatherData">
          <div>
              <h1> city : {{cityWeather.name}}</h1>
          </div>
          <div>
              <h1> Temperature : </h1><br>
              <h2> 32 Celsuis : </h2><br>
          </div>
          <div>
              <h1> Temperature : </h1><br>
              <h2> 32 Celsuis : </h2><br>
              <h2> Wind Speed : </h2><br>
              <h2>Humidity : </h2>
          </div>
          
      </div>
  </div>
</template>

<script>
export default {

    data(){
        return{
            cityWeather : {name : "Freiburg im Breisgau",
            temp : [], 
            windSpedd : [],
            humidity :[]
            }

        }
    }
}
</script>

<style scoped>

input{
    padding:10px;
    border-radius: 20px;
    border: 2px;
}
button{
    padding:10px;
    border-radius: 20px;
}
.app-container{
     background-color: antiquewhite;
     margin-left: auto;
     margin-right: auto;
     width: 35%;
     border-radius: 50px;
     
     }
.WeatherData{
    display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1 fr 1fr;
}
    
</style>