<template>
  <WeatherData/>
</template>

<script>
import WeatherData from "./components/WeatherData.vue"
export default {
  name: 'App',
  components: {WeatherData}
}
</script>

<style>
body{
  background-color: rgb(181, 250, 227);
  
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
 
}
</style>
